root = true

[*]
indent_style             = space
trim_trailing_whitespace = true

[*.config]
indent_size = 2

[*.{cs,vb}]
indent_size = 4

dotnet_naming_rule.private_members_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_members_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = warning

dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.prefix_underscore.capitalization  = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

dotnet_naming_rule.method_should_be_pascal_case.severity = error
dotnet_naming_rule.method_should_be_pascal_case.symbols = method
dotnet_naming_rule.method_should_be_pascal_case.style = pascal_case

dotnet_naming_symbols.method.applicable_kinds = method
dotnet_naming_symbols.method.applicable_accessibilities = *
dotnet_naming_symbols.method.required_modifiers =

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_rule.const_fields_should_be_pascalcase.symbols  = const_fields
dotnet_naming_rule.const_fields_should_be_pascalcase.style    = pascal_case
dotnet_naming_rule.const_fields_should_be_pascalcase.severity = warning

dotnet_naming_symbols.const_fields.applicable_kinds = field
dotnet_naming_symbols.const_fields.applicable_accessibilities = *
dotnet_naming_symbols.const_fields.required_modifiers = const

dotnet_style_allow_multiple_blank_lines_experimental=false:error
dotnet_diagnostic.IDE2000.severity = warning

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = suggestion

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = suggestion

# CS0612: Type or member is obsolete
dotnet_diagnostic.CS0612.severity = suggestion

# IDE0005: Using directive is unnecessary.
#dotnet_diagnostic.IDE0005.severity = warning

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent

csharp_prefer_simple_default_expression=true:warning
csharp_style_inlined_variable_declaration=true:warning

# CS0659: Type overrides Object.Equals(object o) but does not override Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = error

# CS8073: Warn when expression is always true or false
dotnet_diagnostic.CS8073.severity = error

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = silent

# SYSLIB0011: BinaryFormatter serialization is obsolete
dotnet_diagnostic.SYSLIB0011.severity = silent

# RS1024: Compare symbols correctly (Disabled because of false positives)
dotnet_diagnostic.RS1024.severity = silent

# IDE0160: Convert to file-scoped namespace
csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.IDE0161.severity = suggestion

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = suggestion

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = warning

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = warning

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = warning

# IDE0040: Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity = warning

# IDE0048: Add parentheses for clarity
dotnet_diagnostic.IDE0048.severity = warning
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:suggestion
