body {
    font-family: Arial, Helvetica, sans-serif;
}

.simpleTable {
    border-collapse: collapse;
}

.simpleTable td, .simpleTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.simpleTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.simpleTable tr:hover {
    background-color: #ddd;
}

.simpleTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0d63c9;
    color: white;
}