<html>
    <head>
        <title>KhumaloCraft ImageServer - @ViewBag.Title</title>
        <link rel="stylesheet" type="text/css" href="~/simple.css" />
    </head>
    <body>
        <table class="simpleTable" width="100%">
            <tr>
                <th>KhumaloCraft ImageServer - @ViewBag.Title</th>
            </tr>
        </table>
        <br/>    
        <br />
        @RenderBody()
    </body>
</html>