.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.card-header {
    background-color: #f8f9fa;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}


.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f8f9fa;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.card-body {
    padding: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.value-item {
    padding: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.value-item h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.value-item p {
    margin-bottom: 0;
}

.team-member {
    text-align: center;
    margin-bottom: 1.5rem;
}

.team-member p {
    margin-bottom: 0px;
}

.team-member-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.email-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}