html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  background: #f1f1f3;
}

.navbar {
    margin-bottom: 20px;
}


.nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
    background-color: rgba(0, 123, 255, 0.1);
}

.required-asterisk {
    color: red;
    margin-left: 0.25rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hidden-kc {
    display: none !important;
}